<div class="menu">
    <ul>
        <% if(isAdmin){ %>
            <li class="menu_item">
                <a href="/user-manages.html">用户管理</a>
            </li>
        <% } %>
        
        <li class="menu_item">
            <a href="/mobile-manages.html">手机管理</a>
        </li>
        <li class="menu_item">
            <a href="/brand-manages.html">品牌管理</a>
        </li>
    </ul>
</div>